  <div class="container">
    <%# <%= link_to 'Back', contacts_path %> %>

    <div class="py-5 text-center">
     <%= image_tag(@contact.avatar_url, class: "contact-image img-fluid rounded-circle") %>
      <h2 class="pt-5"><%= @contact.payid_full %> </h2>
      <p class="lead"><%= @contact.name %></p>
    </div>

     <div class="row justify-content-md-center">
     <div class="col-md-6 col-sm-12">
        <%= form_for Transaction.new, as: :transaction, url: transactions_path, method: :post do |f| %>
      <div class="form-story">
          <div class="modal-body">
            <div class="mb-6">
              <div class="label">PayID</div>
            <%= f.text_field :payid, class: "form-control", required: true, value: @contact.payid_full %>

            </div>

          

            <div class="mb-3 py-3 maps-autocomplete">
              <div class="label">Amount ($)</div>
            <%= f.text_field :from_value, class: "form-control", required: true %>
              
            </div>

            <label for="wallet">Wallet Type</label>
              <select class="custom-select d-block w-100" id="wallet" required>
                <option value="">Choose...</option>
                <option>XRP</option>
                <option>BTC</option>
                <option>ETH</option>
                <option>Credit/Debit Cards</option>

              </select>
            <h5 class="pt-5">Exchange Rates</h5>
            <%- exchange_rate = @contact.exchange_rate %>
            <p>1 USD = <%= exchange_rate['XRP'].round(5) %> XRP</p>
            <p>1 USD = <%= exchange_rate['BTC'].round(4) %> BTC</p>
            <p>1 USD = <%= exchange_rate['ETH'].round(5) %> ETH</p>
        <button class="btn btn-primary btn-lg btn-block btn-payment my-5" type="submit">Make a Payment</button>
              
          </div>
          </div>
          <% end %>
      <h5 class="">Raise a invoice</h5>
      <div class="row justify-content-md-center">
      <div class="col-md-11">
        <button class="btn btn-primary btn-lg btn-block btn-payment my-5" data-toggle="modal" data-target="#invoiceModal">Request Payment</button>
      </div>
      </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent Transactions</h6>
      <%- @contact.transactions.each do |transaction| %>

      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"><%= transaction.user.payid_full %></strong>
          <%= "You sent #{transaction.from_value} #{transaction.from_currency} at exchange rate of" %>
          <%= "#{transaction.to_value} #{transaction.to_currency} at " %>
          <%= transaction.created_at %>
        </p>
        </div>
      <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
  
</div>
</div>
</div>


<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceModalLabel">Request payment from <%= current_user.payid_full %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      <div class="container col-md-9  my-5  mx-5">
      <%= form_for Transaction.new, as: :transaction, url: transactions_path, method: :post do |f| %>
      <div class="mb-3 py-3 maps-autocomplete">
              <div class="label">Amount ($)</div>
            <%= f.text_field :from_value, class: "form-control", required: true %>
            <%= f.hidden_field :contact, value: @contact %>
              
            <button class="btn btn-primary btn-lg btn-block btn-payment my-5" type="submit">Request</button>
            <% end %>
    </div>
  </div>
</div>
