<!DOCTYPE html>
<html>
  <head>
    <title>Instapay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand" href="/home"><%= image_tag('logo-dark.svg', class: 'logo') %></a>
  <div class="my-0 mr-md-auto font-weight-normal"></div>
  <nav class="my-2 my-md-0 mr-md-3 float-right">
    <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
    <a class="p-2 text-dark" href="/profile">Profile</a>
  </nav>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-outline-primary" %>
</div>

  <div class="container py-5">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
    <%= yield %>
    </div>
  </body>
</html>
